/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
html {
  /* VMP -- Added code below for backgrounds */
  background: #f7f7f7 url("../images/bg.jpg");
  height: 100%;
}

/* line 22, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/pages.scss */
#page {
  /* VMP -- Default override for page style*/
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #696969;
  font-weight: 300;
  background: url("../images/bgshadow.png") top left no-repeat;
  background-size: 100% 100%;
}

/* VMP -- Added default style for headings */
/* line 39, ../sass/pages.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: 800;
}

/* line 45, ../sass/pages.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

/* VMP -- */
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 60, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 64, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 81, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  /*   /* float: left; /* LTR */
  /*margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  } */
  overflow: hidden;
}

/* line 92, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 96, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  background: #3399FF;
  color: #fff;
  border-radius: 10px;
  font-family: 'Oleo Script', serif;
  font-size: 3em;
  float: left;
  margin: .15em;
  Padding: .15em;
  /*
    a:link,
    a:visited {
      color: #000;
      text-decoration: none;
    }
  
    a:hover,
    a:focus {
      text-decoration: none;
    } */
}

/* line 120, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin-top: 1.8em;
  font-size: 1em;
  float: right;
}

/* line 126, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 134, ../sass/pages.scss */
#main {
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
}

/*
 * Content
 */
/* line 149, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 150, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 154, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 167, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/*VMP -- Added light cloured links. */
/* line 172, ../sass/pages.scss */
a {
  color: #0090c5;
  text-decoration: underline;
}

/* line 178, ../sass/pages.scss */
a:hover {
  text-decoration: none;
}

/* line 182, ../sass/pages.scss */
h1.title {
  color: #444;
  font-size: 3em;
}

/* line 187, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 191, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 195, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 198, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 204, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 208, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 213, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 216, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 220, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 224, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 227, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 230, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 233, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 236, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 240, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 246, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 250, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 253, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 258, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 261, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 288, ../sass/pages.scss */
#footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -ms-box-direction: reverse;
  box-direction: reverse;
  margin: 2.5em 0 0 0;
}
/* line 295, ../sass/pages.scss */
#footer .block {
  padding-left: 25px;
  width: 33%;
}
/* line 300, ../sass/pages.scss */
#footer h2.block-title {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
/* line 306, ../sass/pages.scss */
#footer a {
  color: inherit;
}

/*
 * Page bottom
 */
/* line 315, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* line 318, ../sass/pages.scss */
.sidebar {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: #3399FF;
}
/* line 322, ../sass/pages.scss */
.sidebar .block {
  padding: 5px;
  margin: 0px;
}
/* line 327, ../sass/pages.scss */
.sidebar .block h2.block-title {
  color: #fff;
  font-weight: 800;
}
/* line 331, ../sass/pages.scss */
.sidebar .block ul {
  margin: 0;
}
/* line 335, ../sass/pages.scss */
.sidebar .block li a {
  color: #fff;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}
/* line 341, ../sass/pages.scss */
.sidebar .block li a:hover {
  color: #fff;
  font-weight: 800;
}

/* line 349, ../sass/pages.scss */
.menu li a.active {
  color: #000;
  font-weight: 800;
}
