/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */
html
  { /* VMP -- Added code below for backgrounds */
    background: #f7f7f7 url('../images/bg.jpg');
    height: 100%;
  }

body {
  margin: 0;
  padding: 0;

}

#page { /* VMP -- Default override for page style*/
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #696969;
  font-weight: 300;
  background: url('../images/bgshadow.png') top left no-repeat;
  background-size: 100% 100%;
}

/* VMP -- Added default style for headings */
  h1, h2, h3, h4, h5, h6
  {
    color: #444;
    font-weight: 800;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  {
    color: inherit;
    text-decoration: none;
    outline: 0;
  }
 /* VMP -- */




/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
 /*   /* float: left; /* LTR */
  /*margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  } */
  overflow: hidden;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  background: #3399FF;
  color: #fff;
  border-radius: 10px;
  font-family: 'Oleo Script', serif;
  font-size: 3em;
  float:left;
  margin: .15em;
  Padding:.15em;


/*
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  } */
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin-top: 1.8em;
 font-size: 1em;
  float: right;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
  background: #fff;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}
 /*VMP -- Added light cloured links. */
a
  {
    color: #0090c5;
    text-decoration: underline;
  }

    a:hover
    {
      text-decoration: none;
    }

h1.title{
 color: #444;
 font-size: 3em;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  @include box-direction(reverse);
 margin: 2.5em 0 0 0;

  .block{
    padding-left:25px;
    width: 33%;
  }

   h2.block-title {
        margin:0;
    padding: 0;
    line-height: 1em;
   }

a{
  color: inherit;
}
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

.sidebar {
   @include border-radius(25px);
  background: #3399FF;

 .block{
    padding:5px;
    margin:0px;

    h2.block-title
    {
      color: #fff;
        font-weight: 800;
    }
      ul {
        margin:0;
      }

        li a{
          color: #fff;
          font-weight: 600;
          margin: 0;
          text-decoration: none;
        }
        li a:hover {
          color: #fff;
          font-weight: 800;
        }

    }
}

.menu li a.active {
          color: #000;
          font-weight: 800;
        }
